
<div class="container-fluid">
  <h1>My Account Info</h1>
  <p>The table below shows the user details</p>
  <br> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.first_name.upcase %></td>
        <td><%= @user.last_name.upcase %></td>
        <td><%= @user.email.upcase %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Edit Account', edit_user_path(@user) %>
