// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: Garamond, serif;
  color: #35A26D;
  text-align: center;
  letter-spacing: 0.25em;
}

h3 {
  text-align: center;
  font-family: Vivaldi, sans-serif;
  font-style: italic;
  color: #7B68EE;
  letter-spacing: 0.08em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  height: 30px;
  background-color: #35A26E;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 80%;
    margin: 40px auto;
}

.navbar-brand {
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

