<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <tbody>
      <div class="container">
        <div class="row">
          <%-# shortened to one line since objects of the products collection match the name of the partial -%>
          <%= render @products %>
        </div>
      </div>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>